.row {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.middle {
    /* 400 is the width of the left markdown panel */
    height: 500px;
    width:calc(100vw - 400px);
}
